<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: gu186 -->
<!-- DateCreated: 12/21/2022 9:17:56 PM -->
<GameData>
	<Players>
		<Row CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_DESCRIPTION" CivilizationAbilityIcon="ICON_TRAIT_CIVILIZATION_ZHAOSHENG" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_NAME" CivilizationIcon="ICON_CIVILIZATION_HOHHOT_NO2_SCHOOL" CivilizationName="LOC_CIVILIZATION_HOHHOT_NO2_SCHOOL_NAME" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderAbilityDescription="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_DESCRIPTION" LeaderAbilityIcon="ICON_TRAIT_LEADER_YUDIN_ZHOU_SPEECH" LeaderAbilityName="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_NAME" LeaderIcon="ICON_LEADER_YUDIN_ZHOU" LeaderName="LOC_LEADER_YUDIN_ZHOU_NAME" LeaderType="LEADER_YUDIN_ZHOU" Portrait="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_.dds" PortraitBackground="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_BACKGROUND_.dds"/>
		<!-- Expansion 1 Support -->
		<Row CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_DESCRIPTION" CivilizationAbilityIcon="ICON_TRAIT_CIVILIZATION_ZHAOSHENG" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_NAME" CivilizationIcon="ICON_CIVILIZATION_HOHHOT_NO2_SCHOOL" CivilizationName="LOC_CIVILIZATION_HOHHOT_NO2_SCHOOL_NAME" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderAbilityDescription="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_DESCRIPTION" LeaderAbilityIcon="ICON_TRAIT_LEADER_YUDIN_ZHOU_SPEECH" LeaderAbilityName="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_NAME" LeaderIcon="ICON_LEADER_YUDIN_ZHOU" LeaderName="LOC_LEADER_YUDIN_ZHOU_NAME" LeaderType="LEADER_YUDIN_ZHOU" Portrait="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_.dds" PortraitBackground="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_BACKGROUND_.dds" Domain="Players:Expansion1_Players"/>
		<!-- Expansion 2 Support -->
		<Row CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_DESCRIPTION" CivilizationAbilityIcon="ICON_TRAIT_CIVILIZATION_ZHAOSHENG" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_ZHAOSHENG_NAME" CivilizationIcon="ICON_CIVILIZATION_HOHHOT_NO2_SCHOOL" CivilizationName="LOC_CIVILIZATION_HOHHOT_NO2_SCHOOL_NAME" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderAbilityDescription="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_DESCRIPTION" LeaderAbilityIcon="ICON_TRAIT_LEADER_YUDIN_ZHOU_SPEECH" LeaderAbilityName="LOC_TRAIT_LEADER_YUDIN_ZHOU_SPEECH_NAME" LeaderIcon="ICON_LEADER_YUDIN_ZHOU" LeaderName="LOC_LEADER_YUDIN_ZHOU_NAME" LeaderType="LEADER_YUDIN_ZHOU" Portrait="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_.dds" PortraitBackground="ICON_LEADER_YUDIN_ZHOU_PORTRAIT_BACKGROUND_.dds" Domain="Players:Expansion2_Players"/>
	</Players>
	<PlayerItems>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_TEACHING_BUILDING" Name="LOC_DISTRICT_TEACHING_BUILDING_NAME" Description="LOC_DISTRICT_TEACHING_BUILDING_DESCRIPTION" Icon="ICON_DISTRICT_TEACHING_BUILDING" SortIndex="10"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_LECTURE_HALL" Name="LOC_DISTRICT_LECTURE_HALL_NAME" Description="LOC_DISTRICT_LECTURE_HALL_DESCRIPTION" Icon="ICON_DISTRICT_LECTURE_HALL" SortIndex="20"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="IMPROVEMENT_HONEST_SHOP" Name="LOC_IMPROVEMENT_HONEST_SHOP_NAME" Description="LOC_IMPROVEMENT_HONEST_SHOP_DESCRIPTION" Icon="ICON_IMPROVEMENT_HONEST_SHOP" SortIndex="30"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_SHI_WEI" Name="LOC_UNIT_SHI_WEI_NAME" Description="LOC_UNIT_SHI_WEI_DESCRIPTION" Icon="ICON_UNIT_SHI_WEI" SortIndex="40"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_LIJUN" Name="LOC_UNIT_LI_LIJUN_NAME" Description="LOC_UNIT_LI_LIJUN_DESCRIPTION" Icon="ICON_UNIT_LI_LIJUN" SortIndex="50"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_JIAN" Name="LOC_UNIT_LI_JIAN_NAME" Description="LOC_UNIT_LI_JIAN_DESCRIPTION" Icon="ICON_UNIT_LI_JIAN" SortIndex="60"/>
		<Row CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_FEN_CHEN" Name="LOC_UNIT_FEN_CHEN_NAME" Description="LOC_UNIT_FEN_CHEN_DESCRIPTION" Icon="ICON_UNIT_FEN_CHEN" SortIndex="70"/>
		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_TEACHING_BUILDING" Name="LOC_DISTRICT_TEACHING_BUILDING_NAME" Description="LOC_DISTRICT_TEACHING_BUILDING_DESCRIPTION" Icon="ICON_DISTRICT_TEACHING_BUILDING" SortIndex="10"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="IMPROVEMENT_HONEST_SHOP" Name="LOC_IMPROVEMENT_HONEST_SHOP_NAME" Description="LOC_IMPROVEMENT_HONEST_SHOP_DESCRIPTION" Icon="ICON_IMPROVEMENT_HONEST_SHOP" SortIndex="30"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_LECTURE_HALL" Name="LOC_DISTRICT_LECTURE_HALL_NAME" Description="LOC_DISTRICT_LECTURE_HALL_DESCRIPTION" Icon="ICON_DISTRICT_LECTURE_HALL" SortIndex="20"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_SHI_WEI" Name="LOC_UNIT_SHI_WEI_NAME" Description="LOC_UNIT_SHI_WEI_DESCRIPTION" Icon="ICON_UNIT_SHI_WEI" SortIndex="40"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_LIJUN" Name="LOC_UNIT_LI_LIJUN_NAME" Description="LOC_UNIT_LI_LIJUN_DESCRIPTION" Icon="ICON_UNIT_LI_LIJUN" SortIndex="50"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_JIAN" Name="LOC_UNIT_LI_JIAN_NAME" Description="LOC_UNIT_LI_JIAN_DESCRIPTION" Icon="ICON_UNIT_LI_JIAN" SortIndex="60"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_FEN_CHEN" Name="LOC_UNIT_FEN_CHEN_NAME" Description="LOC_UNIT_FEN_CHEN_DESCRIPTION" Icon="ICON_UNIT_FEN_CHEN" SortIndex="70"/>
		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_TEACHING_BUILDING" Name="LOC_DISTRICT_TEACHING_BUILDING_NAME" Description="LOC_DISTRICT_TEACHING_BUILDING_DESCRIPTION" Icon="ICON_DISTRICT_TEACHING_BUILDING" SortIndex="10"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="IMPROVEMENT_HONEST_SHOP" Name="LOC_IMPROVEMENT_HONEST_SHOP_NAME" Description="LOC_IMPROVEMENT_HONEST_SHOP_DESCRIPTION" Icon="ICON_IMPROVEMENT_HONEST_SHOP" SortIndex="30"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="DISTRICT_LECTURE_HALL" Name="LOC_DISTRICT_LECTURE_HALL_NAME" Description="LOC_DISTRICT_LECTURE_HALL_DESCRIPTION" Icon="ICON_DISTRICT_LECTURE_HALL" SortIndex="20"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_SHI_WEI" Name="LOC_UNIT_SHI_WEI_NAME" Description="LOC_UNIT_SHI_WEI_DESCRIPTION" Icon="ICON_UNIT_SHI_WEI" SortIndex="40"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_LIJUN" Name="LOC_UNIT_LI_LIJUN_NAME" Description="LOC_UNIT_LI_LIJUN_DESCRIPTION" Icon="ICON_UNIT_LI_LIJUN" SortIndex="50"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_LI_JIAN" Name="LOC_UNIT_LI_JIAN_NAME" Description="LOC_UNIT_LI_JIAN_DESCRIPTION" Icon="ICON_UNIT_LI_JIAN" SortIndex="60"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_HOHHOT_NO2_SCHOOL" LeaderType="LEADER_YUDIN_ZHOU" Type="UNIT_FEN_CHEN" Name="LOC_UNIT_FEN_CHEN_NAME" Description="LOC_UNIT_FEN_CHEN_DESCRIPTION" Icon="ICON_UNIT_FEN_CHEN" SortIndex="70"/>
	</PlayerItems>
</GameData>
